/* body {
    background-color: lightgray;
} */

@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'sweetalert2/src/sweetalert2.scss';
.cusrsor-pointer {
    cursor: pointer !important;
}

.hover-shadow:hover {
    box-shadow: 0px 0px 4px 2px #cabccc !important;
}

.deleteIconContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    width: auto;
    padding: 0;
    width: 10%;
    z-index: 5 !important;
    padding: 5px !important;
    border-radius: 6px;
    text-align: center;
    transition: all ease 0.3s;
}

.deleteIconContainer i {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.deleteIconContainer:hover {
    background-color: #ff5555;
    color: white !important;
}